<%- include("template/cabecera", {tituloWeb: 'Página de Inicio'}) %>


  <div class="container">
    <h1>CRUD MONGO</h1>
    <a
    class="btn btn-success btn-toolbar my-4"
    href="/contactos/crear"
    >
      Crear Nuevo Contacto
  </a>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>

        <% if (arrayContactos.length > 0) { %>
          <% arrayContactos.forEach(contacto => { %>
            <tr>
              <th scope="row"><%= contacto.id %> </th>
              <td><%= contacto.name %> </td>
              <td><%= contacto.email %> </td>
              <td>
                <a href="/contactos/<%= contacto.id %>"
                 class="btn btn-warning btn-sm">Editar</a>                 
              </td>
            </tr>
    
          <% }) %>         
        <% } %>

      </tbody>
    </table>

  </div>

